@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    background: url("../images/background.jpg") no-repeat;
    background-size: cover;
}

body {
    font-family: 'Bree Serif', sans-serif;
}

h1 {
    font-family: Satisfy, sans-serif;
}

/* heading style*/
header {
    position: absolute;
    top: 0;
    width: 100%;
}

.heading {
    text-align: center;
    font-size: 56px;
    color: #F9F9FC;
    background-color: rgba(112, 151, 181, 0.9)
}

/* game section */
/* quiz container*/
.container {
    color: #150335;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    padding: 40px;
    text-align: center;
}

/* start page */
h2 {
    margin: 30px 0;
}

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(112, 151, 181, 0.7);
    border-radius: 20px;
    padding: 30px;
    width: 80%;
    height: 80%;
    justify-content: center;
}

#startup-img {
    background: url(../images/walt-disney-studios.webp) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: 10px auto;
}

#username {
    border-radius: 5px;
    border: solid #150335;
    display: block;
    text-align: center;
    width: 50%;
    height: 20px;
    margin: 10px;
}

/* button styling*/

.btn-position {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width:100%;
}

.btn {
    height: auto;
    text-align: center;
    margin: 10px 5px;
    padding: 10px;
    color: white;
    background-color: #150335;
    border-radius: 2px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 4px 4px rgba(15 8 75/ 0.5);
    transform: scale(1.1)
}

/* display one of these classes when an answer is selected by user */
.correct-answer {
    background-color: rgb(43, 64, 43);
}

.wrong-answer {
    background-color: rgb(138, 44, 44);
}

/* class style to hide or display div */

.display {
    display: none;
}

/* quiz questions and answers styling */
#quiz-container {
    background-color: rgba(112, 151, 181, 0.9);
    border-radius: 20px;
    padding: 30px;
    width: 80%;
}

.quiz-question {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#question-area {
    font-size: 24px;
    margin: 20px auto;
}

#answers {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px auto;
    height: 150px;
}

.answer-btn {
    width: 45%;
    font-size: 18px;
    margin: 10px 10px;
    padding: 5px;
    height: 50px;
}

#next-container {
    height: 60px;
}

#next {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

/* progress bar style */
#progress {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 80px;
}

#outer-style {
    border: solid #150335;
    border-radius: 7px;
    width: 150px;
    height: fit-content;
}

#progress-bar {
    background-color: rgba(38, 64, 139, 0.8);
    border-radius: 5px;
    color: #150335;
    height: 25px;
}


.question-nmbr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* score page */
#score-page {
    background-color: rgba(112, 151, 181, 0.9);
    border-radius: 20px;
    padding: 30px;
    width: 80%;
}

#play-again {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

.happy-img {
    background: url('../images/happy.gif') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 5px;
    margin: 20px auto;
}

.sad-img {
    background: url('../images/sad.gif') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 5px;
    margin: 20px auto;
}

/* footer styling */

#footer {
    width: 100%;
    background-color: rgba(112, 151, 181, 0.9);
    display: inline-block;
}

li {
    list-style-type: none;
}

.social-networks {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 10px auto;
}

.social-networks li {
    display: inline;
    justify-content: center;
}

.social-networks i {
    color: #150335;
    font-size: 30px;
}

/* for medium-small screen size 650px and down */
@media screen and (max-width: 650px) {
    /* start page */
    #startup-img {
        background: url(../images/walt-disney-studios.webp) no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 400px;
        border-radius: 5px;
    }

    /* quiz page */
    .answer-btn {
        width: 40%;
        font-size: 18px;
        margin: 10px 10px;
        padding: 5px;
        height: 70px;
    }
}