@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Satisfy&display=swap');

*{
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: pink;
    font-family: 'Bree Serif', sans-serif;
}

h1 {
    font-family: Satisfy, sans-serif;
}

.heading {
    text-align: center;
    text-shadow: 20px;
    font-size: 48px;
    background-color: bisque;
}

.container {
    color: white;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    padding: 40px;
}

#startup-img {
    background: url(../images/walt-disney-studios.webp) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 5px;
    margin: 20px auto;
}

.btn {
    width: 40%;
    height: auto;
    text-align: center;
    margin: 10px 5px;
    padding: 10px;
    color: blue;
    background-color: bisque;
    border-radius: 2px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 4px 4px rgba(0 0 0/ 0.5);
    transform: scale(1.1)
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#username {
    border-radius: 5px;
    border: solid rgb(201, 63, 86);
    display: block;
    text-align: center;
    width: 50%;
    height: 20px;
}

.display{
    display: none;
}

/* quiz questions and answers styling */
#answers{
    display:flex;
    align-content:center;
    justify-content: space-between;
}

.answer-btn {
    font-size: 18px;
    margin: 10px 10px;
    padding: 5px;
    min-width: fit-content;
}

#next {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

footer {
    position: absolute;
    width: 100%;
    height: 50px;
}

li {
    list-style-type: none;
}

.social-networks {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.social-networks li {
    display: inline;
    justify-content: center;
}

.social-networks i {
    color: black;
    font-size: 30px;
}