@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #7097B5;
    font-family: 'Bree Serif', sans-serif;
}

h1 {
    font-family: Satisfy, sans-serif;
}

/* heading style*/

.heading {
    text-align: center;
    font-size: 36px;
    color: #F9F9FC;
}

/* game section */
/* quiz container*/
.container {
    color: #150335;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    padding: 40px;
}

/* start page */

.main-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#startup-img {
    background: url(../images/walt-disney-studios.webp) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 200px;
    position: relative;
    border-radius: 5px;
    margin: 20px auto;
}

#username {
    border-radius: 5px;
    border: solid #150335;
    display: block;
    text-align: center;
    width: 50%;
    height: 20px;
}

/* button styling*/

.btn-position {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    width:100%;
}

.btn {
    height: auto;
    text-align: center;
    margin: 10px 5px;
    padding: 10px;
    color: white;
    background-color: #150335;
    border-radius: 2px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 4px 4px rgba(0 0 0/ 0.5);
    transform: scale(1.1)
}

/* class style to hide or display div */

.display {
    display: none;
}

/* quiz questions and answers styling */
#answers {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
}

.answer-btn {
    width: 80%;
    font-size: 18px;
    margin: 10px 10px;
    padding: 5px;
}

#next {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

/* score page */

#play-again {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}

/* footer styling */

#footer {
    position: absolute;
    width: 100%;
    height: 50px;
}

li {
    list-style-type: none;
}

.social-networks {
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.social-networks li {
    display: inline;
    justify-content: center;
}

.social-networks i {
    color: black;
    font-size: 30px;
}